#auth {
    margin-top: 10rem;
}

.badge {
    margin-bottom: 6px;
}

button.vcard-info-items-delete {
    float: right;
    margin-top: -13.8px;
}

/* Custom Logo */
.custom-logo {
    height: 3rem !important;
}

/*----------------------- Preloader -----------------------*/
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}




/*----------------------- Card Preview  -----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.card_preview_sec {
    margin: 0 auto;
}

.card_wrapper {
    max-width: 400px;
    border: 5px solid #565454;
    box-shadow: 0px 24px 60px rgb(0 0 0 / 10%);
    margin: 0 auto !important;
    background: #2c2c2c;
    position: relative;
    border: 34px solid #222222;
    border-width: 34px 5px;
    border-radius: 34px;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    height: 720px;
    overflow: hidden;
    overflow-y: auto;
}



.card_title {
    background: #ffc107;
    border-radius: 15px 15px 0px 0px;
}

.card_title h2 {
    font-size: 29px;
    font-family: "Poppins";
    font-weight: 900;
    text-align: center;
    color: #fff;
    letter-spacing: 0.1px;
    padding: 0px;
    margin: 0px;
}

.card_title h2 img {
    margin: 0 auto;
    text-align: center;
}

.login_btn {
    position: absolute;
    top: 13px;
    right: 0;
}

.subscribe {
    padding: 0px 10px;
}

.subscribe .form-control {
    height: 50px;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 600;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.subscribe .input-group-text {
    border: none !important;
    border-bottom: 2px;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    background: #FFC107;
    font-weight: 500;
}

/* .carousel-inner {
    border: 6px solid #ffc107;
    box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em, rgb(0 0 0 / 25%) 0px 0.125em 0.5em, rgb(255 255 255 / 10%) 0px 0px 0px 1px inset;
}

.carousel-item img {
    border-radius: 16px;
    padding: 10px;
} */


.purchase_btn a {
    padding: 10px 27px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #202020;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    background: #ffffff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.purchase_btn a:hover {
    background: #ffc107;
}

.section_heading {
    position: relative;
}

.section_heading:before {
    position: absolute;
    content: "";
    bottom: 17px;
    left: 0;
    right: 0;
    width: 53%;
    height: 1px;
    background: #e3e3e3;
    margin: 0 auto;
}

.section_heading h4 {
    display: inline-block;
    background: #fff;
    position: relative;
    padding: 3px 15px;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 1px;
    font-style: oblique;
}

.social_item i {
    width: 50px;
    height: 50px;
    border: 2px solid #ffc107;
    color: #fff;
    text-align: center;
    font-size: 23px;
    margin: 0 auto;
    border-radius: 50px;
    padding: 7px;
    background: #424242;
    display: block;
    line-height: 33px;
}

.bottom_content p {
    color: #fff;
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-weight: bold;
}

.bottom_content p strong {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}



.modal-content {
    padding: 0;
    border: none !important;
    border-radius: 0px;
}

.modal-header {
    padding: 14px 0px;
    text-align: center;
    display: block;
    border: none;
}

.modal-header h1 {
    font-size: 20px !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.qe_code img {
    width: 200px;
    border: 1px solid #f8f8f8;
    border-radius: 1px;
    padding: 5px;
    background: #ffffff;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}

.modal-header .btn-close {
    position: absolute;
    top: 20px;
    right: 16px;
    border: 1px solid #DDD;
    color: #212121;
    opacity: 1;
    outline: none !important;
    box-shadow: none !important;
    font-size: 12px;
}

.modal-content {
    padding: 29px 15px;
    border: none !important;
    border-radius: 0px;
}

.qrcode_icon img {
    border-radius: 2px;
    border: none;
    background: #fff !important;
    width: 58px;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

.card_title h2 a svg {
    width: 45px !important;
}


.login_modal .form-label {
    font-size: 16px;
    color: #555;
    font-family: 'Poppins', sans-serif;
}

.login_modal .form-control {
    height: 49px;
    font-size: 13px;
    color: #212121;
    font-weight: 500;
    border: 1px solid #EEE;
    background: #f0f6ff;
    outline: none !important;
    box-shadow: none !important;
}

.login_modal .btn.btn-primary {
    border: none !important;
    border-radius: 3px;
    padding: 12px 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    background-color: #FFC107 !important;
    color: #212121;
}

.login_modal .btn.btn-primary:hover {
    background: #212121 !important;
    color: #ffffff;
}

.dont_have_account p {
    margin: 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.carousel_slider .carousel-control-next,
.carousel_slider .carousel-control-prev {
    background: #ffc107;
    width: 42px;
    height: 43px;
    top: 50%;
    opacity: 1;
    font-size: 2px;
    border-radius: 50px;
    margin: 0px 7px;
    visibility: hidden;

}


.carousel_slider:hover .carousel-control-next,
.carousel_slider:hover .carousel-control-prev {
    visibility: visible;
}

.video_wrapper {
    overflow: hidden;
}

@media screen and (max-width:420px) {
    .card_title h2 {
        font-size: 23px;
    }

    .section_heading:before {
        width: 65%;
    }
}
