@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.card_template {
    padding: 0;
    position: relative;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgb(128 128 128 / 35%) 0px 4px 6.84px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    background: #212121;
    padding-bottom: 23px;
    overflow: hidden;
}

.card_title {
    background: #fff;
}

.card_title h2 {
    font-size: 44px;
    font-family: "Poppins";
    font-weight: 900;
    color: #4D257E;
    letter-spacing: 0.1px;
}

.purchase_btn {
    margin-top: -16px;
    z-index: 1;
    position: relative;
}

.purchase_btn a {
    padding: 12px 27px;
    display: inline-block;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    border-radius: 50px;
    background: #ffc107;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


.purchase_btn a:hover {
    background: #212121;
    color: #fff;
}

.section_heading {
    position: relative;
}

.section_heading:before {
    position: absolute;
    content: "";
    bottom: 17px;
    left: 0;
    right: 0;
    width: 53%;
    height: 1px;
    background: #e3e3e3;
    margin: 0 auto;
}

.section_heading h4 {
    display: inline-block;
    background: #fff;
    position: relative;
    padding: 1px 14px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 1px;
}

.social_item img {
    width: 53px;
    border: 2px solid #ffc107;
    margin: 0 auto;
    display: flex;
    border-radius: 50px;
    padding: 7px;
    background: #343333;
}

.copyright_text p {
    margin: 0;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #fff;
}

.modal {
    background: linear-gradient(315deg, #141619ba 0%, #0c1e37 100%);
    backdrop-filter: blur(4px);
}

.modal-content {
    padding: 0;
    border: none !important;
    border-radius: 0px;
}

.modal-header {
    padding: 14px 0px;
    text-align: center;
    display: block;
    border: none;
}

.modal-header h1 {
    font-size: 20px !important;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.qe_code img {
    width: 200px;
    border: 1px solid #f8f8f8;
    border-radius: 1px;
    padding: 5px;
    background: #ffffff;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}

.modal-header .btn-close {
    position: absolute;
    top: 20px;
    right: 16px;
    border: 1px solid #DDD;
    color: #212121;
    opacity: 1;
    outline: none !important;
    box-shadow: none !important;
    font-size: 12px;
}

.modal-content {
    padding: 29px 15px;
    border: none !important;
    border-radius: 0px;
}

.qrcode_icon img {
    border-radius: 2px;
    border: none;
    background: #fff !important;
    width: 58px;
}


@media screen and (max-width:420px) {
    .card_title h2 {
        font-size: 32px;
    }

    .section_heading:before {
        width: 65%;
    }
}
